@import '../../common/colors';
@import '../../common/typography';
@import '../Text/Text.scss';

$iconSize: (
  'sm': 36px,
  'md': 40px,
  'lg': 44px,
  'xl': 48px,
  'xxl': 58px,
);
.button {
  all: unset;
  pointer-events: auto;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  align-items: center;
  word-break: break-all;
  cursor: pointer;
  color: white;

  > * {
    flex-shrink: 0;
  }
}

@each $style, $value in $colors {
  @each $size, $prop in $value {
    .btn-#{$style} {
      background-color: map-get($colors, $style, '600');
      transition: background-color 0.5s;

      &:hover {
        background-color: map-get($colors, $style, '700');
        transition: background-color 0.5s;
      }

      &:active {
        z-index: 2;
        box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05),
          0 0 0 4px map-get($colors, $style, '100');
        background-color: map-get($colors, $style, '600');
      }

      &:focus {
        z-index: 2;
        box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05),
          0 0 0 4px map-get($colors, $style, '100');
        background-color: map-get($colors, $style, '600');
      }

      &:disabled {
        background-color: map-get($colors, $style, '200');
      }
    }
  }
}

.sm {
  height: 36px;
  padding: 8px 14px;
}

.md {
  height: 40px;
  padding: 10px 16px;
}

.lg {
  height: 44px;
  padding: 10px 18px;
}

.xl {
  height: 48px;
  padding: 12px 20px;
}

.xxl {
  height: 60px;
  padding: 16px 28px;
}

@each $key, $value in $iconSize {
  .icon-#{$key} {
    justify-content: center;
    height: $value;
    width: $value;
  }
}
