.buttonGroups {
  display: flex;

  * {
    border-radius: 0 !important;

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
    }
  }

  *:first-child {
    border-radius: 8px 0 0 8px !important;

  }

  *:last-child {
    border-radius: 0 8px 8px 0 !important;
  }
}