$thinFont: 'https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap';
$extraLightFont: 'https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap';
$lightFont: 'https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap';
$regularFont: 'https://fonts.googleapis.com/css2?family=Inter&display=swap';
$mediumFont: 'https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap';
$semiBoldFont: "https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap";
$boldFont:"https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap";
$extraBoldFont:"https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap";
$blackFont:"https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap";

@import url($thinFont);
@import url($extraLightFont);
@import url($lightFont);
@import url($regularFont);
@import url($mediumFont);
@import url($semiBoldFont);
@import url($boldFont);
@import url($extraBoldFont);
@import url($blackFont);

.thinFont {
  font-family: $thinFont;
}
.extraLightFont{
  font-family: $extraLightFont;
}
.lightFont{
  font-family: $lightFont;
}
.regularFont{
  font-family: $regularFont;
}
.mediumFont{
  font-family: $mediumFont;
}
.semiBoldFont{
  font-family: $semiBoldFont;
}
.extraBoldFont{
  font-family: $extraBoldFont;
}
.boldFont{
  font-family: $boldFont;
}
.blackFont{
  font-family: $blackFont;
}